<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <appSettings>
      <!-- Connection Strings -->
      <add key="connBPM" value="Data Source=BPMGICAORTEST;Initial Catalog=GICAOR;Persist Security Info=True;User ID={0};Password={1}"/>
      <add key="connERP" value="Data Source=TDBE10SERVER;Initial Catalog=ERP10DB;Persist Security Info=True;User ID={0};Password={1}"/>
      
      <!-- Epicor configuration -->
      <add key="configFile" value="C:\\Epicor\\ERP10.0ClientTest\\Client\\config\\{0}.sysconfig"/>
      <add key="epicorUser" value="***"/>
      <add key="epicorPass" value="***"/>
      <add key="companyERP" value="***"/>
      
      
      <!-- Mail configuration -->
      <add key="ServerNameSTMP" value="***" />
      <add key="ServerPortSTMP" value="***" />
      <add key="transmitterAccountID" value="***@gicaor.com" />
      <add key="transmitterAccountPass" value="***" />
      <add key="destinationAccountID" value="***@gicaor.com"/>
      <add key="ServerUseSSL" value="false" />
      
      <!-- Custom Log Folder -->
      <add key="LogFolder" value="C:\\InterfazBPM_ERP\\Logs"/>
    </appSettings>
</configuration>